* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2ebe3;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: left;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.product-content {
  background-color: #ffffff;
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card {
  max-width: 600px;
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #f2ebe3;
}

.product-img-container {
  width: 50%;
  /* max-height: 450px; */
  height: 100%;
}

.product-img-container img,
.product-img-container source {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

footer {
  text-align: center;
}

.product-category,
.price,
.description {
  color: #6c7289;
}

.product-category {
  font-size: 0.7rem;
  letter-spacing: 3px;
}

.product-name {
  font-family: Fraunces, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  font-size: 0.8rem;
}

.current-price {
  font-size: 1.5rem;
  font-family: Fraunces, sans-serif;
  color: #3c8067;
  font-weight: 700;
}

.old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart {
  font-size: 0.8rem;
  background-color: #3c8067;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  border: #3c8067;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 3.12rem;
  margin-top: auto;
}

svg {
  /* margin: 0.6rem; */
  fill: #ffffff;
  font-size: 0.8rem;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.add-to-cart:hover,
.add-to-cart:focus-visible {
  background-color: #1b4133;
  cursor: pointer;
}

footer {
  font-size: 0.8rem;
  padding: 2rem 1rem;
}

a {
  color: #1b4133;
}

@media (max-width: 465px) {

  main {
    min-height: 150vh;
  }
  .product-card {
    flex-direction: column;
    max-width: 352px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    
  }

  .product-img-container {
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    height: 100%;
  }

  .product-img-container img {
    height: 100%;
    border-radius: 10px 10px 0 0;
  }

  .product-content {
    max-height: 400px;
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
