* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2ebe3;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.product-content {
  background-color: #ffffff;
  width: 50%;
  border-radius: 0 10px 10px 0;
}

.product-card {
  max-width: 600px;
  width: 100%;
  max-height: 450px;
  width: 100%;
  display: flex;
  background-color: #f2ebe3;
}

.product-img {
  width: 50%;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
}

footer {
    text-align: center;
}
