* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2ebe3;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: left;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.product-content {
  background-color: #ffffff;
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: flex;
  background-color: #f2ebe3;
}

.product-img {
  width: 50%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

footer {
  text-align: center;
}

.product-category,
.price,
.description {
  color: #6c7289;
}

.product-category {
  font-size: 0.7rem;
  letter-spacing: 3px;
}

.product-name {
  font-family: Fraunces, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  font-size: 0.8rem;
}

.current-price {
  font-size: 1.5rem;
  font-family: Fraunces, sans-serif;
  color: #3c8067;
  font-weight: 700;
}

.old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  padding-right: 2rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart {
  font-size: 0.8rem;
  background-color: #3c8067;
  color: #f2ebe3;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  border: #3c8067;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 3.12rem;
}

svg {
  /* margin: 0.6rem; */
  fill: #f2ebe3;
  font-size: 0.8rem;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
